/*Variables*/
$title-font: "Sue Ellen Francisco", cursive;
$primary-font: "Lato", sans-serif;

$primary-dark-color: #1D1D1D;
$secondary-dark-color: #272822;
$primary-light-color: #f0f0f0;
$textarea-shadow-color: #777777;
$button-color: #ffffff;
$primary-button-color: #457095;
$primary-button-disabled-color: #32526d;
$success-button-color: #65af65;
$success-button-hover-color:#449d44;
$anchor-color: $success-button-color;
$anchor-hover-color: $success-button-hover-color;

$footer-height: 200px;
$footer-line-height: 28px;

@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco');
@import url('https://fonts.googleapis.com/css?family=Lato');

/*Bootstrap overrides*/
.btn-primary {
	color: $button-color;
	background-color: $primary-button-color;
	border-color: $primary-button-color;
	&:disabled {
		background-color: $primary-button-disabled-color;
		border-color: $primary-button-disabled-color;
	}
}

.btn-success {
	color: $button-color;
	background-color: $success-button-color;
	border-color: $success-button-color;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: $footer-height;
}

html,
body {
	background: $primary-dark-color;
}

html, body, button, input, optgroup, select, textarea {
	font-family: $primary-font;
}

p {
	color: $primary-light-color;
}

a {
	color: $anchor-color;
	&:hover {
		color: $anchor-hover-color;
	}
}

header {
	margin-top: 20px;
	h1 {
		color: $primary-light-color;
		font-family: $title-font;
		font-size: 3.5rem;
		text-align: center;
	}
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: $footer-height;
	line-height: $footer-line-height; /* Vertically center the text there */
	background-color: $secondary-dark-color;
	color: $primary-light-color;
	padding-top: 20px;
	p {
		margin-bottom: 0;
		font-family: "Sue Ellen Francisco",cursive;
		font-size: 1.8em;
	}
}

#darkenizer-description h2 {
	font-size: 1.2em;
	text-align: center;
	line-height: 1.3;
	color: $primary-light-color;
}

#inputTextArea,
#resultTextArea {
	width: 100%;
	background-color: $secondary-dark-color;
	border: 0;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 10px 0px $textarea-shadow-color;
	-moz-box-shadow: 0px 0px 10px 0px $textarea-shadow-color;
	box-shadow: 0px 0px 10px 0px $textarea-shadow-color;
	margin-top: 10px;
	margin-bottom: 10px;
	color: $primary-light-color;
	height: 400px;
}

.darkenizer-word {
	font-family: $title-font;
	font-size: 1.4em;
}

.button-row {
	padding-bottom: 20px;
}

/*Transitions*/
.fade-enter-active, .fade-leave-active {
	transition: opacity .25s
}

.fade-enter, .fade-leave-active {
	opacity: 0
}

/*Fix FB scrolling*/
.fb_iframe_widget * {
	max-width: 100%;
}