/*Variables*/
$primary-dark-color: #1D1D1D;
$secondary-dark-color: #272822;
$primary-light-color: #f0f0f0;


/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

html,
body {
	background: $primary-dark-color;
}

header {
	color: $primary-light-color;
}

main p {
	color: $primary-light-color;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: $secondary-dark-color;
	color: $primary-light-color;
}

#inputTextArea {
	width: 100%;
	background-color: $secondary-dark-color;
	border-color: $secondary-dark-color;
	border-radius: 5px;
	margin-bottom: 10px;
	color: $primary-light-color;
}

/*Transitions*/
.fade-enter-active, .fade-leave-active {
	transition: opacity .25s
}

.fade-enter, .fade-leave-active {
	opacity: 0
}