<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="theme-color" content="#272822">
		<title>Darkenizer</title>
		<meta name="description" content="Dark theme generator">
		<meta name="keywords" content="dark,theme,generator,css,scss">
		<meta name="author" content="Vitor Machado">
		<meta property="fb:app_id" content="831476910324088"/>
		<link rel="canonical" href="https://www.vitormachado.me/darkenizer">

		<meta content="Darkenizer" property="og:site_name">
		<meta content="Darkenizer" property="og:title">
		<meta content="website" property="og:type">
		<meta content="Dark theme generator" property="og:description">
		<meta content="https://www.vitormachado.me/darkenizer" property="og:url">
		<meta content="https://www.vitormachado.me/darkenizer/dist/image.png" property="og:image">

		<link rel="icon" sizes="16x16 32x32" href="favicon.ico">
		<link rel="icon" type="image/png" sizes="256x256" href="favicon.png">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

		<!-- darkenizer's app bundle. -->
		<link rel="stylesheet" href="dist/app.css">
	</head>
	<body>
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=831476910324088";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<div id="app" class="container">
			<header>
				<h1>darkenizer</h1>
			</header>
			<div class="fb-like" data-href="https://www.vitormachado.me/darkenizer" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true" data-colorscheme="dark"></div>

  			<transition name="fade" mode="out-in">
				<main v-if="step == 1" key="1">
					<div id="darkenizer-description">
						<p><span class="darkenizer-word">darkenizer</span> is a dark theme generator. All you have to do is insert your CSS/SCSS code in the input below, and <span class="darkenizer-word">darkenizer</span> will generate a dark version of your colors for you.</p>
					</div>
					<div class="row">
						<div class="col">
							<textarea id="inputTextArea" v-model="code" placeholder="Paste your CSS/SCSS code here..."></textarea>
						</div>
					</div>
					<div class="row button-row">
						<div class="col">
							<div class="float-right">
								<button type="button" class="btn btn-success" @click="parseSCSS" :disabled="code.length == 0">Darkenize!</button>
							</div>
						</div>
					</div>
				</main>
				<main v-if="step == 2" key="2">
					<div class="row">
						<div class="col">
							<textarea id="resultTextArea" v-model="result" readonly></textarea>
						</div>
					</div>
					<div class="row button-row">
						<div class="col">
							<div class="float-right">
								<button type="button" class="btn btn-secondary" @click="back">Back</button>
								<!--<button type="button" class="btn btn-primary" @click="download">Download</button>-->
							</div>
						</div>
					</div>
				</main>
			</transition>

			<!-- Modal -->
			<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModal" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="errorModalLabel">Error!</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							{{error}}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

		</div>

		<footer class="footer">
			<div class="container">
				<p>Developed by <a href="https://www.vitormachado.me" target="_blank">Vitor Machado</a>.</p>
			</div>
		</footer>

		<!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

		<!-- darkenizer's app bundle. -->
		<script src="dist/bundle.js"></script>

		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-71214783-2', 'auto');
			ga('send', 'pageview');
		</script>

	</body>
</html>